.side-nav {
    margin-top: 66px;
    width: 240px;
    background-color: #f5f5f5;
    z-index: 1;
}

.subheader {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin: 0;
}

.link {
    font-size: 16px;
}

.api-info {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 240px;
    background-color: #fce4ec;
    z-index: 2;
    border-top: 1px solid rgba(0,0,0,0.14);
}

.api-info a {
    width: 100%;
    line-height: 45px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ec407a;
}