<div class="api-info">
    <a href="http://localhost:8080/swagger-ui.html" target="_blank" class="waves-effect">API Swagger</a>
</div>

<ul class="side-nav fixed">
    <li><a href="#!" class="subheader">Albums</a></li>
    <li><a href="#!" class="link"><i class="material-icons">person</i>Mes fichiers privés</a></li>
    <li><a href="#!" class="link"><i class="material-icons">people</i>Mes fichiers publics</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="#!" class="subheader">Filtres</a></li>
    <li><a href="#!" id="filterPhotos" class="link filter" data-filter="photos"><i class="material-icons">photo</i>Photos</a></li>
    <li><a href="#!" id="filterVideos" class="link filter" data-filter="videos"><i class="material-icons">movie</i>Vidéos</a></li>
    <li><a href="#!" class="link"><i class="material-icons">folder</i>Albums</a></li>


</ul>