<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12 l3 offset-l4">
            <div class="card-panel">
                <h4 class="header2">Bienvenue sur Mediaroll</h4>
                <div class="row">
                    <form class="col s12" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="email" type="email" name="email" class="validate" placeholder="Saisissez votre adresse email" required [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'invalid': f.submitted && !email.valid }">
                                <label for="email" class="active" data-error="L'adresse email saisie est incorrecte">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input id="password" type="password" name="password" class="validate" placeholder="Saisissez votre mot de passe" required [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'invalid': f.submitted && !password.valid }">
                                <label for="password" class="active" data-error="Aucun mot de passe n'a été saisie">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                              <i class="mdi-content-send right"></i>
                            </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>