<div class="navbar">
    <app-nav></app-nav>
</div>

<div class="sidebar">
    <app-sidebar></app-sidebar>
</div>

<div class="container">
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="row well my-drop-zone">

        <div class="folder-path">
            <h3>Bibliothèque</h3>
        </div>

        <app-fileupload></app-fileupload>

    </div>

    <div class="row">
        <app-medialist></app-medialist>
    </div>
</div>