.container {
    padding-top: 1%;
    margin-left: 325px;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

div {
    font-family: 'Champagne';
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin: 0;
}