<div *ngFor="let media of medias" class="col s4 media">
    <img id="myImg" *ngIf="media.type == 'picture' else elseBlock" class="mediaroll-pictures" width="400" [src]='mediaUrl(media.id)'>
    <div id="myModal" class="modal">
        <!-- The Close Button -->
        <div class="media-action">
            <span class="media-action-btn"><i class="small material-icons">share</i></span>
            <span class="media-action-btn"><i class="small material-icons">delete</i></span>
            <span id="close" class="media-action-btn"><i class="small material-icons">close</i></span>
        </div>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
    <ng-template #elseBlock>
        <video class="responsive-video mediaroll-videos" width="400" [src]='mediaUrl(media.id)' controls></video>
    </ng-template>
</div>